#photo-ops {
    width: 100%;
    display: flex;
    flex-direction: column;

    .heading {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        margin-bottom: 2px;

        h3 {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    p.instruction, p.no-data {
        font-size: 16px;
        margin-bottom: 30px;
    }

    input.photo-ops-searcher {
        font-size: 16px;
        padding: 10px 15px;
        margin-bottom: 30px;
        background-color: #f4f5f7;
        border-radius: 15px;
        border: #e8e8e8 1px solid;
    }

    .no-data {
        margin: 20px;
    }

    .photoop-tabs ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        border-radius: 15px;
        overflow: hidden;
        background-color: lighten(#0033cc, 50%);

        li {
            flex: 1;
            text-align: center;
            cursor: pointer;

            &.active {
                border-radius: 15px;
                background-color: #0033cc;
                color: #fff;
            }

            span {
                display: block;
                font-weight: bold;
                padding: 10px 15px;
            }
        }
        
    }

    table.photo-ops-list {

        tr:last-child {
            td {
                border-bottom: #ccc 5px solid;
            }
        }

        td {
            padding: 15px;
            border-bottom: #ccc 2px solid;;
        }

        .time {
            width: 15%;
            text-align: center;
            font-weight: bold;

            .no-data {
                color: #999;
                font-weight: bold;
                text-align: center;
                font-size: 30px;
                line-height: 35px;
            }

            p {
                span {
                    display: inline-block;
                    background-color: var(--color-module-photo-ops);
                    color: #fff;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 3px;
                    padding: 1px 8px;
                    border-radius: 3px;
                }
            }
        }
    }

    .tile.results.photo-ops {
        display: flex;
        flex-direction: column;
        cursor: default;
    }
}

@media (max-width: 992px) {

    #photo-ops {

        table.photo-ops-list {

            td {
                vertical-align: top;
            }

            .time {
                width: 20%;
            }

        }

    }

}

@media (max-width: 768px) {

    #photo-ops {

        table.photo-ops-list {

            h3 {
                font-size: 16px;
                line-height: 20px;
            }

            p.description {
                font-size: 13px;
                margin-bottom: 10px;
            }

            .time {
                font-size: 14px;
                width: 20%;

                p {
                    span {
                        font-size: 13px;
                    }
                }

            }

        }

    }
    
}