#guests {
    width: 100%;
    display: flex;
    flex-direction: column;

    input.guest-searcher {
        font-size: 16px;
        padding: 10px 15px;
        margin-bottom: 30px;
        background-color: #f4f5f7;
        border-radius: 15px;
        border: #e8e8e8 1px solid;
    }

    .instruction, .no-data {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .no-data {
        margin: 20px;
    }

    .guest-grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
        margin-bottom: 30px;

        a {
            text-decoration: none;
            color: #000;

            &:hover {
                background-color: #eee;
            }
        }

        .item {
            border-bottom: #eee 1px solid;
            padding: 10px 0;
        }

        .info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 5px 10px;
            box-sizing: border-box;

            .name {
                font-size: 15px;
                font-weight: 500;
            }

            .attendance {

                span {
                    background-color: #e5f3ea;
                    color: #1a7a3d;
                    border: #cfe8d8 1px solid;
                    font-size: 12px;
                    line-height: 12px;
                    display: inline-block;
                    padding: 3px 8px;
                    border-radius: 5px;
                    margin-right: 5px;

                    &.absent {
                        color: #bbb;
                        background-color: #f0f0f0;
                        border-color: #e8e8e8;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}